        
        <div class="homepageBkRd">
            <div class="jumbotron">
                         <h1 class="text-center">Arian is a <typedjs strings=texttyping></typedjs></h1>
                         <button type="button" ng-show="show" ng-click="goToBio()" id="learnMoreButton" class="btn btn-lg gradient" > Learn More</button>
            </div>

            <div id="bio">
                <div class="row"> 
                    <div class="col-xs-12">
                        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper">
                                <div class="front">
                                    <!-- front content -->
                                    <img class="bioPic" src="images/AriPic.jpg">
                                </div>
                                <div class="back">
                                    <!-- back content -->
                                    <img class="logo" src="images/AriFlo.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- 
<h1>Reach out to Ari</h1> -->
<!-- 
<form id="infoForm" ng-submit="info()">
            <label>First Name</label>
            <input id="firstName" class="form-control" type="text" ng-model="client.firstName" name="firstName" placeholder="First Name" required>            

            <label>Last Name</label>
            <input id="lastName" class="form-control" type="text" ng-model="client.lastName" name="lastName" placeholder="Last Name" required>            

            <label>Company</label>
            <input id="company" class="form-control" type="text" ng-model="client.company" name="company" placeholder="Company inc">            

            <label>E-mail Address</label>
            <input id="email" class="form-control" type="email" ng-model="client.email" name="email" placeholder="name@company.com" required>            

            <label>Phone</label>
            <input id="phone" class="form-control" type="phone" ng-model="client.phone" name="phone" placeholder="212-223-5534" required>           

            <label>Message</label>
            <textarea id="message" class="form-control" type="text" ng-model="client.message" name="message"></textarea>

            <input  id="infoFormSubmit" class="btn btn-primary" type="submit" value="Submit">
</form>  -->