        
        
            <div class="jumbotron">
                         <h1 class="text-center">Arian is a <typedjs strings="texttyping"></typedjs></h1>
                         <button type="button" ng-show="show" ng-click="goToBio('bio')" id="learnMoreButton" class="btn btn-lg gradient">Learn More</button>
            </div>

            <div id="bio">
            <div class="picRow">
                        <div class="row"> 
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover')">
                                        <div class="flipper">
                                            <div class="front">
                                                <!-- front content -->
                                                <img class="bioPic" src="images/AriPic.jpg"  alt="headshot">
                                            </div>
                                            <div class="back">
                                                <!-- back content -->
                                                <img class="animate-show" ng-click="showBio()"  src="images/logo.jpg"  alt="logo">
                                            </div>
                                        </div>
                                    </div>
                                    <p class="animate-show" ng-hide="show">
                                        A former financial analyst who was more fascinated with the logical and the analytical aspects of the financial world than the culture surrounding it; I've recently changed tracks and have become a web developing software engineer.I am a divergent problem solver, effective communicator, and collaborative team player interested in building robust and innovative data-driven web sites and applications. 
                                    </p>
                        </div>  
                </div>
                <div class="row">
                    <p id="quote" class="text-center" ng-bind-html="randomQuote">{{randomQuote}}</p> 
                </div>                      
                <div class="row">
                    <div class="topBadges">
                        <a ng-href="https://github.com/ariflo">
                                <img class="topIcons" src="images/github.png" alt="github">
                        </a>
                        <a ng-href="https://www.linkedin.com/in/arian-flores-274585b7">
                                <img class="topIcons" src="images/Linkedin.png" alt="linkedin">
                        </a>
                        <a ng-href="https://stackoverflow.com/users/6026693/arian-flores?tab=profile">
                                <img class="topIcons" src="images/stackoverflow.png" alt="stackoverflow">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="bottomBadges">
                        <a ng-href="https://www.facebook.com/arian.flores.77">
                                    <img class="fbIcon" src="images/facebook.png" alt="facebook">
                        </a>
                        <a ng-href="https://medium.com/@AirManFlow">
                                    <img class="bottomIcons" src="images/medium.png" alt="medium">
                        </a>
                        <a ng-href="https://twitter.com/AirManFlow">
                                    <img class="bottomIcons" src="images/twitter.png"alt="twitter"> 
                        </a>
                    </div> 
                </div>          
            </div>
      

<!-- 
<h1>Reach out to Ari</h1> -->
<!-- 
<form id="infoForm" ng-submit="info()">
            <label>First Name</label>
            <input id="firstName" class="form-control" type="text" ng-model="client.firstName" name="firstName" placeholder="First Name" required>            

            <label>Last Name</label>
            <input id="lastName" class="form-control" type="text" ng-model="client.lastName" name="lastName" placeholder="Last Name" required>            

            <label>Company</label>
            <input id="company" class="form-control" type="text" ng-model="client.company" name="company" placeholder="Company inc">            

            <label>E-mail Address</label>
            <input id="email" class="form-control" type="email" ng-model="client.email" name="email" placeholder="name@company.com" required>            

            <label>Phone</label>
            <input id="phone" class="form-control" type="phone" ng-model="client.phone" name="phone" placeholder="212-223-5534" required>           

            <label>Message</label>
            <textarea id="message" class="form-control" type="text" ng-model="client.message" name="message"></textarea>

            <input  id="infoFormSubmit" class="btn btn-primary" type="submit" value="Submit">
</form>  -->