            <div class="jumbotron">
                <div class="pageHeader">
                         <h2 class="text-center"><span id="var">var</span>arianFlores<span id="equals">=</span><typedjs strings="texttyping"></typedjs></h2>
                         <button type="button" ng-show="show" ng-click="goToBio('bio')" id="learnMoreButton" class="btn btn-lg gradient">Learn More</button>
                </div>
            </div>

            <div id="bio">
                <div class="picRow">
                            <div class="row"> 
                                        <div class="flip-container" ontouchstart="this.classList.toggle('hover')">
                                            <div class="flipper">
                                                <div class="front">
                                                    <!-- front content -->
                                                    <img class="bioPic" src="images/AriPic.jpg"  alt="headshot">
                                                </div>
                                                <div class="back">
                                                    <!-- back content -->
                                                    <img class="animate-show" ng-click="showBio()"  src="images/logo.jpg"  alt="logo">
                                                </div>
                                            </div>
                                        </div>
    <!--                                     <p class="animate-show" ng-hide="display">
                                            A former financial analyst who was more fascinated with the logical and the analytical aspects of the financial world than the culture surrounding it; I've recently changed tracks and have become a web developing software engineer.I am a divergent problem solver, effective communicator, and collaborative team player interested in building robust and innovative data-driven web sites and applications. 
                                        </p> -->
                            </div>  
                    </div>
                    <div class="row">
                        <p id="quote" class="text-center" ng-bind-html="randomQuote">{{randomQuote}}</p> 
                    </div>     
                </div>
            
            <h2 id="webbAppHeader" class="text-center">Web App Portfolio</h2>
            <div id="portfolio">
                <div class="row"> 
                        <div class="project">
                            <h4 class="portfolioHeader text-center">Front-end Project - Mad Libs</h4>
                            <a ng-href="http://ariflo.github.io/MadLibs/">
                                        <img class="projectPic" src="images/madlibs.jpg" alt="madlibs">
                            </a>

                            <p class="portfolioDescription">Mad Libs is a phrasal template word game that requires  one player to prompt others for a list of words to substitute for blanks in a story, before reading the often comical or nonsensical  story aloud.</p>

                            <p class="techBox"><b>Tech Used:</b>HTML, CSS,  jQuery, JavaScript, Bootstrap</p>

                            <p class="techBox"><b>Build Time:</b>1 week</p>
                        </div>         


                        <div class="project">
                            <h4 class="portfolioHeader text-center">Back-end Project - Momentum Investments</h4>
                            <a ng-href="http://momentuminvestments.herokuapp.com">
                                        <img class="projectPic" src="images/momentum.jpg" alt="momentumInvestments">
                            </a>

                            <p class="portfolioDescription">Web app designed for clients interested in learning about the 'momentum', the difference in return over a set period of time, of certain securities to reveal a potentially profitable investment opportunity. </p>

                            <p class="techBox"><b>Tech Used:</b>PostgresSQL, Express, Node.js, Jquery, Bootstrap, HTML5, and CSS</p>

                            <p><b>Team Member:</b> Eric Hodges</p>

                            <p class="techBox"><b>Build Time:</b>1 week</p>
                        </div> 

                        <div class="project">
                            <h4 class="portfolioHeader text-center">Angular Paired Project - Reddit Angle</h4>
                            
                            <a ng-href="https://redditangle.herokuapp.com">
                                        <img class="projectPic" src="images/reddit.jpg" alt="codequest.io">
                            </a>

                            <p class="portfolioDescription">Reddit.com clone using angular and OWASP standards for password storage and jwt (Json Web Tokens)</p>
                        
                            <p class="portfolioDescription"><b>My Responsibilities:</b> Setting up Front-End framework and relational database in PostgresSQL</p>

                            <p class="techBox"><b>Tech Used:</b> Postgres, Express, Angular, Node.js, Jquery, Bootstrap, Javascript, HTML5, CSS</p>

                            <p><b>Team Member:</b> Greg Simpson </p>

                            <p class="techBox"><b>Build Time:</b>1 week</p>
                        </div>
                        

                        <div class="project">
                            <h4 class="portfolioHeader text-center">Full Stack Group Project - CodeQuest</h4>
                            
                            <a ng-href="http://codequest.io">
                                    <img class="projectPic" src="images/codequest.jpg" alt="codequest.io">
                            </a>
                            <p class="portfolioDescription">Codequest is a searchable SPA database containing interview questions from tech companies and startups in the industry. Users can search for relevant interview questions pertaining to their position(s) of interest and can choose to contribute to this open source project by adding new interview questions. </p>

                            <p class="portfolioDescription"><b>My Responsibilities:</b> Scraping company data and setting up D3.js bar graph on landing page. </p>

                            <p class="techBox"><b>Tech Used:</b> Postgres, Express, Angular, Node.js, Jquery, Bootstrap, Javascript, HTML5, CSS, D3.js, Nightmare.js (scraping), and Select 2 for search</p>

                            <p><b>Team Members:</b> Jonathan Harlem, Halah Al-Shaikhly, Ashley Nguyn, and Jess Yang</p>
                            <p class="techBox"><b>Build Time:</b>1 week</p>
                        </div> 
                        
                        <div class="project">
                            <h4 class="portfolioHeader text-center">Full Stack Capstone - ironbars.org</h4>

                            <a ng-href="http://www.ironbars.org">
                                        <img class="projectPic" src="images/ironbars.jpg" alt="ironbars.org">
                            </a>
                        
                            <p class="portfolioDescription">Ironbars.org uses data avaliable from the 2010 US Census and the national prisoners statistics program to provide users their probability of being incaracated in their state based on their demographics (male, female, white, black, or other).</p>
                        
                            <p class="techBox"><b>Tech Used:</b>  Postgres, Express, Angular, Node.js, Jquery, Bootstrap, Javascript, HTML5, CSS, D3.js, and ReGex for search and validation</p>
                        
                            <p class="techBox"><b>Build Time:</b>2 weeks </p>
                        </div>                                               
                </div>  
            </div>                        

            <div class="contact">    
                <h2 id="reachOut" class="text-center"> Reach Out</h2>             
                <div class="row">
                    <div class="topBadges">
                        <a ng-href="https://github.com/ariflo">
                                <img class="topIcons" src="images/github.png" alt="github">
                        </a>
                        <a ng-href="https://www.linkedin.com/in/arianflores">
                                <img class="topIcons" src="images/Linkedin.png" alt="linkedin">
                        </a>
                        <a ng-href="https://stackoverflow.com/users/6026693/arian-flores?tab=profile">
                                <img class="topIcons" src="images/stackoverflow.png" alt="stackoverflow">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="bottomBadges">
                        <a ng-href="https://www.facebook.com/arian.flores.77">
                                    <img class="fbIcon" src="images/facebook.png" alt="facebook">
                        </a>
                        <a ng-href="https://medium.com/@AirManFlow">
                                    <img class="bottomIcons" src="images/medium.png" alt="medium">
                        </a>
                        <a ng-href="https://twitter.com/AirManFlow">
                                    <img class="bottomIcons" src="images/twitter.png"alt="twitter"> 
                        </a>
                    </div> 
                </div>   
            </div>     
      

<!-- 
<h1>Reach out to Ari</h1> -->
<!-- 
<form id="infoForm" ng-submit="info()">
            <label>First Name</label>
            <input id="firstName" class="form-control" type="text" ng-model="client.firstName" name="firstName" placeholder="First Name" required>            
            <label>Last Name</label>
            <input id="lastName" class="form-control" type="text" ng-model="client.lastName" name="lastName" placeholder="Last Name" required>            
            <label>Company</label>
            <input id="company" class="form-control" type="text" ng-model="client.company" name="company" placeholder="Company inc">            
            <label>E-mail Address</label>
            <input id="email" class="form-control" type="email" ng-model="client.email" name="email" placeholder="name@company.com" required>            
            <label>Phone</label>
            <input id="phone" class="form-control" type="phone" ng-model="client.phone" name="phone" placeholder="212-223-5534" required>           
            <label>Message</label>
            <textarea id="message" class="form-control" type="text" ng-model="client.message" name="message"></textarea>
            <input  id="infoFormSubmit" class="btn btn-primary" type="submit" value="Submit">
</form>  -->