<!DOCTYPE html>
<html>
<head>
  <title>arianflores</title>

  	<!-- jquey --> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>

	<!-- angular -->
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
	
	<!-- angular scripts -->
 	<script src="/js/app.js" type="text/javascript"></script>
 	<script src="/js/services.js" type="text/javascript"></script>
 	<script src="/js/directives.js" type="text/javascript"></script>
 	<script src="/js/controllers.js" type="text/javascript"></script>
 	<script src="/js/filters.js" type="text/javascript"></script>

	<!-- bootstrap and Stylesheet --> 
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
  <body>
    <h1>Hey Arian</h1>
    <p>Welcome!</p>

   
  </body>
</html>
