<modal title="Welcome Ari" subtitle="Please sign-in" ng-if="showModal">
          <form role="form" ng-submit="adminLogin()">
                <div class="form-group">
                      <label for="username">Admin Login</label>
                       <input id="adminName" class="form-control" type="text" ng-model="admin.name" name="adminName" autocomplete="off" required>
                </div>
                <div class="form-group">
                      <label for="password">Password</label>
                      <input id="password" class="form-control" type="password" ng-model="admin.password" name="password" placeholder="Password" autocomplete="off" required>
                </div>
                <div class="modal-footer">
                    <button id="adminCloseBtn"  type="button" class="btn btn-default"  aria-hidden="false" data-dismiss="modal" ng-click="return()">Close</button>
                    <input  id="adminSubmitBtn" class="btn btn-primary" type="submit" value="Submit">
                </div>
          </form>
</modal>

<form id="projectForm" class="col-xs-4" name="projectForm" ng-submit="projectSubmit(projectForm)" ng-if="isAdmin">
      <fieldset>
            <label>Project Image Url</label>
            <input id="projectImage" class="form-control" type="text" ng-model="project.image" name="projectImage" placeholder="images/picture.png" required>            
      </fieldset>      

      <fieldset>
            <label>Project Title</label>
            <input id="projectTitle" class="form-control" type="text" ng-model="project.title" name="projectTitle" placeholder="Ari's New Site" required>            
      </fieldset>    

      <fieldset>
            <label>Project Description</label>
            <textarea id="projectDescription" class="form-control" type="text" ng-model="project.description" name="projectDescription" placeholder="This is what this site does!" required></textarea>         
      </fieldset>      

      <fieldset>
            <label>Responsibilities</label>
            <input id="projectDuties" class="form-control" type="text" ng-model="project.duties" name="projectDuties" placeholder="I built this for this site...." required>            
      </fieldset>      

      <fieldset>
            <label>Tech Used</label>
            <label ng-repeat="tech in technologies" ng-model="project.tech" class="checkbox-inline">
              <input  type="checkbox" id="techCheckbox" value="tech"> {{tech}}
            </label>
      </fieldset>      

      <fieldset>
            <label>Build Time</label>
            <input id="projectBuild" class="form-control" type="text" ng-model="project.buildTime" name="projectBuild" placeholder="1 week(s)" required>            
      </fieldset>      

      <fieldset>
            <label>Team Members</label>
            <input id="projectTeam" class="form-control" type="text" ng-model="project.team" name="projectTeam" placeholder="Sam, Sally, and John" required>            
      </fieldset>

            <input  id="infoFormSubmit" class="btn btn-primary" type="submit" value="Submit">
</form> 
<a ng-if="isAdmin" ng-click="adminLogout()" >Sign-Out</a>

