            <!--header space-->
            <div class="jumbotron">
                <div class="pageHeader">
                         <h2><span id="var">const</span>arianFlores<span id="equals">=</span><typedjs id="tmp" strings="texttyping"></typedjs></h2>
                </div>
            </div>
            
             <!--Bio spot-->
            <div id="bio">
                        
                        <div class="headshot">
                            <img id="bioPic" src="images/AriPic.jpg"  alt="headshot">

                            <p id="quote" ng-bind-html="randomQuote">{{randomQuote}} </p>
                            <p id="quoteAuthor" class="text-center">Jimi Hendrix</p>
                        </div>

                        <h2 id="profileHeader">About Me</h2>
                        <p id="bioText">
                                A software developer working to discover what logic we can apply to this crazy world we call home. I'm a Vanderbilt alum (<i>Go 'Dores!</i>) from New York  living in SF; I spend 60% of my time building cool web apps, 25% sleeping, and the rest catching up with Game of Thrones. 
                        </p>                                       
            </div>
            
            <!-- PORTFOLIO  -->
            <div id="portfolio">
                         <img id="portfolioBackground" src="images/logo.jpg" alt="ariLogo">       
                          
                       <!--  PROJECT PICS -->
                       <div id="projectsBox">
                            <a ng-click="toggleProject(1)">
                                    <img class="projectPicHome" src="images/codequest.jpg" alt="codequest.io">
                            </a>                        

                            <a ng-click="toggleProject(2)">
                                    <img class="projectPicHome" src="images/pixel-art-maker.png" alt="Pixelart">
                            </a>                        

                            <a ng-click="toggleProject(3)">
                                    <img class="projectPicHome" src="images/ironbars.jpg" alt="ironbars">
                            </a>                        

                            <a ng-click="toggleProject(4)">
                                    <img class="projectPicHome" src="images/reddit.jpg" alt="redditangle">
                            </a>                        

                            <a ng-click="toggleProject(5)">
                                    <img class="projectPicHome" src="images/madlibs.jpg" alt="madlibs">
                            </a>                        

                            <a ng-click="toggleProject(6)">
                                    <img class="projectPicHome" src="images/momentum.jpg" alt="MomentumInvestments">
                            </a>                        

                            <a ng-click="toggleProject(7)">
                                    <img class="projectPicHome" src="images/meanTea.jpg" alt="meantea">
                            </a>                            

                            <a ng-click="toggleProject(8)">
                                    <img class="projectPicHome" src="images/construction.png" alt="contruction">
                            </a>
                        </div>
                         
                        <!-- PROJECT MODAL -->
                         <modal title="Full Stack (Group) - CodeQuest" visible="showProject">
                             <div id="project">
                                     <h4 class="portfolioHeader text-center">{{projectTitle}}</h4>

                                     <p class="portfolioDescription">{{projectDescription}}</p>

                                     <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties"> {{projectDuties}}</span></p>

                                     <img id="modalLogo" src="images/logo.jpg" alt="ariLogo"> 
                             </div>  

                             <div id="projectFacts">
                                     <a ng-href="{{projectDemo}}">
                                             <img class="projectPic" ng-src="{{projectImg}}" alt="codequest.io">
                                     </a>
                                    
                                    <div class="specs">

                                         <div class="techBox">
                                                 <p><b>Tech Used</b></p>
                                                 <div class="details">
                                                     <span class="techItems" ng-repeat="tech in technologies">{{tech}}</span>
                                                 </div>
                                         </div>

                                         <span class="buildTime">
                                                 <p><b>Build Time</b></p>
                                                 <span> {{projectBuildTime}}</span>
                                         </span>

                                         <div class="team">
                                                 <p><b>Team Member(s)</b></p>
                                                 <span class="details" ng-repeat="member in team"><a href="{{member.link}}"> {{member.name}}</a></span>
                                        </div>

                                    </div>

                             </div>
                         </modal>
            </div>   
            
            <!-- CONTACT FOOTER-->
             <div class="contact">    
                 <h2 id="reachOut" class="text-center"> Contact </h2>     

                 <div class="contactInfo text-center">

                     <h4 class="text-center">Arian Flores</h4>
                     <h5 class="text-center">Software Engineer</h5>
                     <span class="glyphicon glyphicon-envelope"></span><a href="mailto:ariflo@arianflores.com" class="contactItem">ariflo@arianflores.com</a>
                     <span class="glyphicon glyphicon-earphone"></span><p class="contactItem">917-565-2838</p>
                     <span class="glyphicon glyphicon-map-marker"></span><p class="contactItem">San Francisco, CA</p>

                             
                     <div class="contactIcons">

                         <a class="iconLink" ng-href="https://github.com/ariflo">
                                 <img class="icons" src="images/github.png" alt="github">
                         </a>

                         
                         <a class="iconLink" ng-href="https://www.linkedin.com/in/arianflores">
                                 <img class="icons" src="images/Linkedin.png" alt="linkedin">
                         </a>

                         
                         <a class="iconLink" ng-href="https://stackoverflow.com/users/6026693/arian-flores?tab=profile">
                                 <img class="icons" src="images/stackoverflow.png" alt="stackoverflow">
                         </a>

                         
                         <a  class="iconLink" ng-href="https://www.facebook.com/arian.flores.77">
                                     <img class="icons" src="images/facebook.png" alt="facebook">
                         </a>

                         
                         <a class="iconLink" ng-href="https://medium.com/@AirManFlow">
                                     <img class="icons" src="images/medium.png" alt="medium">
                         </a>

                         
                         <a class="iconLink" ng-href="https://twitter.com/AirManFlow">
                                     <img class="icons" src="images/twitter.png"alt="twitter"> 
                         </a>

                     </div>

                 </div>
                 
<!-- 
<h1>Reach out to Ari</h1> -->
<!-- 
<form id="infoForm" ng-submit="info()">
            <label>First Name</label>
            <input id="firstName" class="form-control" type="text" ng-model="client.firstName" name="firstName" placeholder="First Name" required>            
            <label>Last Name</label>
            <input id="lastName" class="form-control" type="text" ng-model="client.lastName" name="lastName" placeholder="Last Name" required>            
            <label>Company</label>
            <input id="company" class="form-control" type="text" ng-model="client.company" name="company" placeholder="Company inc">            
            <label>E-mail Address</label>
            <input id="email" class="form-control" type="email" ng-model="client.email" name="email" placeholder="name@company.com" required>            
            <label>Phone</label>
            <input id="phone" class="form-control" type="phone" ng-model="client.phone" name="phone" placeholder="212-223-5534" required>           
            <label>Message</label>
            <textarea id="message" class="form-control" type="text" ng-model="client.message" name="message"></textarea>
            <input  id="infoFormSubmit" class="btn btn-primary" type="submit" value="Submit">
</form>  -->