            <div class="jumbotron">
                <div class="pageHeader">
                         <h2><span id="var">const</span>arianFlores<span id="equals">=</span><typedjs id="tmp" strings="texttyping"></typedjs></h2>
                         <button type="button" ng-show="show" ng-click="goToBio('webbAppHeader')" id="portfolioButton" class="btn btn-lg gradient">Portfolio</button> 
                </div>
            </div>

            <div id="bio">
                        
                        <div class="headshot">
                             <img id="bioPic" src="images/AriPic.jpg"  alt="headshot">

                            <p id="quote" ng-bind-html="randomQuote">{{randomQuote}} </p>
                            <p id="quoteAuthor" class="text-center">Jimi Hendrix</p>
                        </div>

                        <h2 id="profileHeader">About Me</h2>
                        <p id="bioText">
                                A software developer working to discover what logic we can apply to this crazy world we call home. I'm a Vanderbilt alum (<i>Go 'Dores!</i>) from New York  living in SF; I spend 60% of my time building cool web apps, 25% sleeping, and the rest catching up with Game of Thrones. 
                        </p>                                       
            </div>
            <div class="row">
                  <img id="bioBackground" src="images/logo.jpg" alt="ariLogo">       
            </div>     
            <h2 id="webbAppHeader" class="text-center">Web App Portfolio</h2>
            <div id="portfolio">

                        <div class="project">
                            <h4 class="portfolioHeader text-center">Intro to CSS and Javascript - Pixel Art Maker</h4>

                            <a ng-href="https://www.youtube.com/watch?v=rQrjmAL0gFw">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="/project">
                                    <img class="projectPic" src="images/pixel-art-maker.png" alt="pixel art maker pic">
                            </a>

                            <p class="portfolioDescription"> A simple point and click web application that allows users to create pixelated works of art</p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties">Build entire stack</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b>HTML5, Javascript, and CSS</span>
                            <span class="details"><b>Build Time:</b> 1 day</span>
                            <span class="details"><b>Team Member(s):</b></span>
                            </p>
                        </div>

                        <div class="project">
                            <h4 class="portfolioHeader text-center">Full Stack Capstone - ironbars.org</h4>

                            <a class="text-center" ng-href="https://www.youtube.com/watch?v=YZhECozcMTU">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="http://www.ironbars.org">
                                        <img class="projectPic" src="images/ironbars.jpg" alt="ironbars.org">
                            </a>

                            <p class="portfolioDescription">Ironbars.org uses data avaliable from the 2010 US Census and the national prisoners statistics program to provide users their probability of being incaracated in their state based on their demographics (male, female, white, black, or other).</p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties"> Build entire stack</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b>Postgres, Express, Angular, Node.js, Jquery, Bootstrap, Javascript, HTML5, CSS, D3.js, and ReGex for search and validation</span>
                            <span class="details"><b>Build Time:</b> 2 weeks</span>
                            <span class="details"><b>Team Member(s):</b></span>
                            </p>
                        </div>           

                        <div class="project">
                            <h4 class="portfolioHeader text-center">Full Stack (Group) - CodeQuest</h4>

                            <a ng-href="https://www.youtube.com/watch?v=xDq8f0-gXLU">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="http://codequest.io">
                                    <img class="projectPic" src="images/codequest.jpg" alt="codequest.io">
                            </a>

                            <p class="portfolioDescription">Codequest is a searchable SPA database containing interview questions from tech companies and startups in the industry. Users can search for relevant interview questions pertaining to their position(s) of interest and can choose to contribute to this open source project by adding new interview questions. </p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties"> Scraping company data and setting up D3.js bar graph on landing page.</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b>Postgres, Express, Angular, Node.js, Jquery, Bootstrap, Javascript, HTML5, CSS, D3.js, Nightmare.js (scraping), and Select 2 for search</span>
                            <span class="details"><b>Build Time:</b> 1 week</span>
                            <span class="details"><b>Team Member(s):</b><a href="https://www.linkedin.com/in/jonharlem"> Jonathan Harlem, </a></span><span><a href="https://www.linkedin.com/in/halahalshaikhly"> Halah Al-Shaikhly, </a></span><span><a href="https://www.linkedin.com/in/ashleyngu"> Ashley Nguyn, </a></span><span>and <a href="https://www.linkedin.com/in/jessyang650"> Jess Yang</a></span>
                            </p>
                        </div>         

                        <div class="project">
                            <h4 class="portfolioHeader text-center">OAuth with Angular (Paired) - RedditAngle</h4>

                            <a ng-href="https://www.youtube.com/watch?v=wH5jTZG_1n8">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="https://redditangle.herokuapp.com">
                                        <img class="projectPic" src="images/reddit.jpg" alt="codequest.io">
                            </a>

                            <p class="portfolioDescription">Reddit.com clone using Angular and OWASP standards for password storage, OAuth, and jwt (Json Web Tokens)</p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties">Setting up Front-End framework and relational database in PostgresSQL</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b>Postgres, Express, Angular, Node.js, Jquery, Bootstrap, Javascript, HTML5, CSS</span>
                            <span class="details"><b>Build Time:</b> 1 week</span>
                            <span class="details"><b>Team Member(s):</b><a href="https://www.linkedin.com/in/gregsim92"> Greg Simpson </a></span>
                            </p>
                        </div>            
                
                        <div class="project">
                            <h4 class="portfolioHeader text-center">Front-end - Mad Libs</h4>

                            <a ng-href="https://www.youtube.com/watch?v=QYtFjdtEn14">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="http://ariflo.github.io/MadLibs/">
                                        <img class="projectPic" src="images/madlibs.jpg" alt="madlibs">
                            </a>

                            <p class="portfolioDescription">Mad Libs is a phrasal template word game that requires  one player to prompt others for a list of words to substitute for blanks in a story, before reading the often comical or nonsensical  story aloud.</p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties">Build entire stack</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b>HTML, CSS,  jQuery, JavaScript, Bootstrap</span>
                            <span class="details"><b>Build Time:</b> 1 week</span>
                            <span class="details"><b>Team Member(s):</b></span>
                            </p>
                        </div>     
                
                    
                        <div class="project">
                            <h4 class="portfolioHeader text-center">Back-end Project (Paired) - Momentum Investments</h4>

                            <a ng-href="https://www.youtube.com/watch?v=E03m4lQPDaE">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="http://momentuminvestments.herokuapp.com">
                                    <img class="projectPic" src="images/momentum.jpg" alt="momentumInvestments">
                            </a>

                            <p class="portfolioDescription">Web app designed for clients interested in learning about the 'momentum', the difference in return over a set period of time, of certain securities to reveal a potentially profitable investment opportunity.</p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties">Setting up Front-End framework and relational database in PostgresSQL</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b>PostgresSQL, Express, Node.js, Jquery, Bootstrap, HTML5, and CSS</span>
                            <span class="details"><b>Build Time:</b> 1 week</span>
                            <span class="details"><b>Team Member(s):</b><a href="https://www.linkedin.com/in/ericbhodges"> Eric Hodges </a></span>
                            </p>
                        </div>             

                        <div class="project">
                            <h4 class="portfolioHeader text-center">Two-Way Data Binding with Angular (Paired) - Mean Tea Shop</h4>

                            <a ng-href="https://www.youtube.com/watch?v=hrtZF4Illt4">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="https://meantea.herokuapp.com/#/">
                                    <img class="projectPic" src="images/meanTea.jpg" alt="meanTea pic">
                            </a>

                            <p class="portfolioDescription"> A tea shop web applicaiton using Angular's two-way data binding capabilites to set-up a shopping web site experience</p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties">Setting up Front-End framework and relational database in PostgresSQL</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b>PostgresSQL, Express, Node.js, Jquery, Bootstrap, HTML5, and CSS</span>
                            <span class="details"><b>Build Time:</b> 1 week</span>
                            <span class="details"><b>Team Member(s):</b><a href="https://www.linkedin.com/in/simonsekhon"> Simon Sekhon </a></span>
                            </p>
                        </div>              

                     

                        <div class="project">
                            <h4 class="portfolioHeader text-center">Magisterspet.com</h4>

                            <a ng-href="http://www.claverackhistoricalsociety.org/wp-content/uploads/2016/01/construction.png">
                                    <h4 class="demoHeader text-center">Video Demo</h4>
                            </a>
                            <a ng-href="http://www.claverackhistoricalsociety.org/wp-content/uploads/2016/01/construction.png">
                                        <img class="projectPic" src="images/construction.png" alt="coming soon">
                            </a>

                            <p class="portfolioDescription">Magister's pet will assist teachers with grading exams by creating multiple versions of the same exam and provide matching answer keys to those exams</p>

                             <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties"> Build entire stack</span></p>
                            
                            <p class="techBox">
                            <span class="details"><b>Tech Used:</b></span>
                            <span class="details"><b>Expected release date:</b> June 1st, 2016</span>
                            <span class="details"><b>Team Member(s):</b></span>
                            </p>
                        </div>                                                
             

            </div>

            <div class="contact">    
                <h2 id="reachOut" class="text-center"> Contact </h2>     

                <div class="contactInfo text-center">

                    <h4 class="text-center">Arian Flores</h4>
                    <h5 class="text-center">Software Engineer</h5>
                    <span class="glyphicon glyphicon-envelope"></span><a href="mailto:ariflo@arianflores.com" class="contactItem">ariflo@arianflores.com</a>
                    <span class="glyphicon glyphicon-earphone"></span><p class="contactItem">917-565-2838</p>
                    <span class="glyphicon glyphicon-map-marker"></span><p class="contactItem">San Francisco, CA</p>

                            
                    <div class="contactIcons">

                        <a class="iconLink" ng-href="https://github.com/ariflo">
                                <img class="icons" src="images/github.png" alt="github">
                        </a>

                        
                        <a class="iconLink" ng-href="https://www.linkedin.com/in/arianflores">
                                <img class="icons" src="images/Linkedin.png" alt="linkedin">
                        </a>

                        
                        <a class="iconLink" ng-href="https://stackoverflow.com/users/6026693/arian-flores?tab=profile">
                                <img class="icons" src="images/stackoverflow.png" alt="stackoverflow">
                        </a>

                        
                        <a  class="iconLink" ng-href="https://www.facebook.com/arian.flores.77">
                                    <img class="icons" src="images/facebook.png" alt="facebook">
                        </a>

                        
                        <a class="iconLink" ng-href="https://medium.com/@AirManFlow">
                                    <img class="icons" src="images/medium.png" alt="medium">
                        </a>

                        
                        <a class="iconLink" ng-href="https://twitter.com/AirManFlow">
                                    <img class="icons" src="images/twitter.png"alt="twitter"> 
                        </a>

                    </div>

                </div>
            </div>     

                <div ng-if="atBio" class="contactInfo2 text-center">

                    <h4 class="text-center">Arian Flores</h4>
                    <h5 class="text-center">Software Engineer</h5>
                    <span class="glyphicon glyphicon-envelope"></span><a href="mailto:ariflo@arianflores.com" class="contactItem">ariflo@arianflores.com</a>
                    <span class="glyphicon glyphicon-earphone"></span><p class="contactItem">917-565-2838</p>
                    <span class="glyphicon glyphicon-map-marker"></span><p class="contactItem">San Francisco, CA</p>

                            
                    <div class="contactIcons">

                        <a class="iconLink" ng-href="https://github.com/ariflo">
                                <img class="icons2" src="images/github.png" alt="github">
                        </a>

                        
                        <a class="iconLink" ng-href="https://www.linkedin.com/in/arianflores">
                                <img class="icons2" src="images/Linkedin.png" alt="linkedin">
                        </a>

                        
                        <a class="iconLink" ng-href="https://stackoverflow.com/users/6026693/arian-flores?tab=profile">
                                <img class="icons2" src="images/stackoverflow.png" alt="stackoverflow">
                        </a>

                        
                        <a  class="iconLink" ng-href="https://www.facebook.com/arian.flores.77">
                                    <img class="icons2" src="images/facebook.png" alt="facebook">
                        </a>

                        
                        <a class="iconLink" ng-href="https://medium.com/@AirManFlow">
                                    <img class="icons2" src="images/medium.png" alt="medium">
                        </a>

                        
                        <a class="iconLink" ng-href="https://twitter.com/AirManFlow">
                                    <img class="icons2" src="images/twitter.png"alt="twitter"> 
                        </a>

                    </div>

            </div>
      

<!-- 
<h1>Reach out to Ari</h1> -->
<!-- 
<form id="infoForm" ng-submit="info()">
            <label>First Name</label>
            <input id="firstName" class="form-control" type="text" ng-model="client.firstName" name="firstName" placeholder="First Name" required>            
            <label>Last Name</label>
            <input id="lastName" class="form-control" type="text" ng-model="client.lastName" name="lastName" placeholder="Last Name" required>            
            <label>Company</label>
            <input id="company" class="form-control" type="text" ng-model="client.company" name="company" placeholder="Company inc">            
            <label>E-mail Address</label>
            <input id="email" class="form-control" type="email" ng-model="client.email" name="email" placeholder="name@company.com" required>            
            <label>Phone</label>
            <input id="phone" class="form-control" type="phone" ng-model="client.phone" name="phone" placeholder="212-223-5534" required>           
            <label>Message</label>
            <textarea id="message" class="form-control" type="text" ng-model="client.message" name="message"></textarea>
            <input  id="infoFormSubmit" class="btn btn-primary" type="submit" value="Submit">
</form>  -->