<div class="project">
    <h4 class="portfolioHeader text-center">Intro to CSS and Javascript - Pixel Art Maker</h4>

    <a ng-href="https://www.youtube.com/watch?v=rQrjmAL0gFw">
            <h4 class="demoHeader text-center">Video Demo</h4>
    </a>
    <a ng-href="http://ariflo.github.io/pixelArtMaker/">
            <img class="projectPic" src="images/pixel-art-maker.png" alt="pixel art maker pic">
    </a>

    <p class="portfolioDescription"> A simple point and click web application that allows users to create pixelated works of art</p>

     <p class="reponsibilitiesHeader"><b>My Responsibilities</b><span class="responsebilties">Build entire stack</span></p>
    
    <p class="techBox">
    <span class="details"><b>Tech Used:</b>HTML5, Javascript, and CSS</span>
    <span class="details"><b>Build Time:</b> 1 day</span>
    <span class="details"><b>Team Member(s):</b></span>
    </p>
</div>