body, html {
   width: 100%;
   height: 225em;
   background-color: #f5f5f5;
}

h2{
  font: 3em "Monaco";
}

#typed-output {
  color: #E1D463
} 

#fuckerSemicolon {
  color:#ffffff;
}

#maintence{
    padding-top: 15%;
}

#var{
  margin-right: 20px;
  color: #7AF5C3;

}

#equals{
  color:#FF4053;
  margin-right: 5px;
  margin-left: 10px;
}

#typed-output{
  margin-left: 5px;
}

.jumbotron{
    background: #000000;
    background-repeat: no-repeat;
    height: 8%;
    color: white;
    margin:0;
}

.pageHeader{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bio{
  display: flex;
  flex-direction: row;
  height: 15%;
  position: relative;
  top:0;
}

#bioBackground{
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  padding-right: 14%;
  align-self: center;
  z-index: -1;
}

#bioText{
  font-family: 'Georgia';
  font-size: 1.5em;
  font-weight: 400;
  width: 49%;
  text-align: center;
  background: rgba(0,0,0, 0.05);
  border-radius: 50%;
  padding: 2.85em;
  z-index: 1000;
  order: 3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.headshot{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%
}

#bioPic{
  height: 15em;
  width: 18em;
  border-radius: 50%;
  margin-top: 2%;
}

#quote{
  font-family: 'Didot';
  font-size: 1.5em;
  padding-top: .5em;
  order: 2;
}

#quoteAuthor{
  font-family: 'Didot';
  font-size: 1.5em;
  width: 20.5%;
  order: 2;
  margin-bottom: 3%;
}

a {
  color: #00B7FF;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#learnMoreButton {
  transition: 5s linear all;  
  opacity: 1;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  border: solid white;
  background: transparent;
  border-radius: 5px;
  margin-top: 2%;
}

#portfolioButton {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  border: solid white;
  border-radius: 5px;
  margin-top: 3%;
  z-index: 1000;
  order:4;
 margin-top: 3%;
 align-self: center;

}

#learnMoreButton.ng-hide {
  opacity: 0;
}

#learnMoreButton:hover, #learnMoreButton:focus, #learnMoreButton:active, #learnMoreButton.active,#portfolioButton:active, #portfolioButton.active {
    background: -moz-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, bottom right, color-stop(rgba(224, 224, 209, .2)), color-stop(rgba(235, 235, 224, .8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left top, rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Opera 11.10+ */
    background: -ms-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* IE10+ */
    background: linear-gradient(to bottom right,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(224, 224, 209, .2)', endColorstr='rgba(235, 235, 224, .8)',GradientType=0 ); /* IE6-9 */
}


.contact{
  clear:both;
  bottom: 0;
  color: #ffffff;
  height: 20em;
  width: 100%;
  background-color: rgb(0,0,0);
  padding-bottom: 1%;
}


.contactInfo{
  border: solid #ffffff 2px;
  width: 50%;
  margin: auto;
}

.contactInfo2{
  position: fixed;
  bottom: .5em;
  right: 1em;
  border: solid #ffffff 2px;
  width: 35%;
  color: white;
  background-color: rgba(0,0,0, .6);
  border-radius: 5px;
}

/*slide affect put together with the assistance of*/
/*http://www.nganimate.org/angularjs/ng-switch/slider-css3-transition-animation*/
.contactInfo2.ng-enter{
    -webkit-transition: 2000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 2000ms    cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 2000ms   cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 2000ms    cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 2000ms  cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    left: 100%;
}
.contactInfo2.ng-enter.ng-enter-active{
    left: 65%;
}

.contactInfo2.ng-leave{
   right: 0;
   animation: slideOutLeft 0.5s both ease-in
}

.contactInfo2.ng-leave.ng-leave-active{
    left:-100%;
}

.icons2{
  float: left;
  height: 2em;
  width: 2em;
  margin-right: 1em;
  margin-left: 1em;
  z-index: 1000; 
  position:relative;
}

.contactIcons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em 30%;
}

.icons{
  float: left;
  height: 2em;
  width: 2em;
  z-index: 1000; 
  position:relative;
}


#webbAppHeader{
  font-family: 'Monaco', sans-serif;
  font-weight: 600;
  color: white;
  background-color: rgb(0,0,0);
  margin:0;
}

#reachOut{
  font-family: 'Monaco', sans-serif;
  font-weight: 600;
  color: white;
}

.glyphicon{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 0;
}

.contactItem{
  display:inline;
  color:white;
  text-decoration: none;
}

.contactItem:hover{
  text-decoration: none;
}

.pipe{
  color: white;
  font-size: 20px;
}

.projectPic{
    display: inline;
    width: 95%;
    height: auto;
    margin: 10px;
}

#portfolio{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 5em;
  float: left;
}

.portfolioHeader{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.demoHeader{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #3C5278;
  border: solid #000000;
  border-radius: 5px;
  width: 30%;
  margin: auto;
}

.portfolioDescription{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.reponsibilitiesHeader{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 1em;
  width: 100%;
  text-align: center;
  padding-left: 1em;
}

.responsebilties{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  display: block;
}

.techBox{
  font-family: 'Georgia';
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  padding: 1em;
}

.details{
  display: block;
}

.project{
  float: left;
  width: 40%;
  height: auto;
  margin-top: 2%;
  border: solid #000000 2px;
  border-radius: 5px;
  margin: 2%;
}