body, html {
   width: 100%;
   height: 100%;
   background-color: #f5f5f5;
}

h2{
  margin-top: 10%;
  font: 3em "Monaco";
}

#maintence{
    padding-top: 15%;
}

#var{
  margin-right: 5px;
  color: #7AF5C3;
}

#equals{
  color:#E81026;
  margin-right: 5px;
  margin-left: 10px;
}

#typed-output{
  margin-left: 5px;
}

.jumbotron{
    background: #000000;
    background-repeat: no-repeat;
    height: 100em;
    color: white;
    margin:0;
}

.pageHeader{
  margin-top: 10%;
}

#quote{
  font-family: "gruppo";
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1em; 
  padding-top: .5em;
  width: 30%;
  margin-left: 33%;
}

a {
  color: #00B7FF;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#learnMoreButton {
  transition: 5s linear all;  
  opacity: 1;

  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  border: solid white;
  background: transparent;
  border-radius: 5px;
  margin-left: 42%;
  margin-right: 50%;
  margin-top: 5%;
}

#portfolioButton {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  border: solid white;
  border-radius: 5px;
  margin-left: 42.75%;
  margin-right: 50%;
  margin-top: 3%;
  padding-right: 1em;
  padding-left: 1em;
}

#learnMoreButton.ng-hide {
  opacity: 0;
}

#learnMoreButton:hover, #learnMoreButton:focus, #learnMoreButton:active, #learnMoreButton.active, #portfolioButton:hover, #portfolioButton:focus,#portfolioButton:active, #portfolioButton.active {
    background: -moz-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, bottom right, color-stop(rgba(224, 224, 209, .2)), color-stop(rgba(235, 235, 224, .8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left top, rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Opera 11.10+ */
    background: -ms-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* IE10+ */
    background: linear-gradient(to bottom right,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(224, 224, 209, .2)', endColorstr='rgba(235, 235, 224, .8)',GradientType=0 ); /* IE6-9 */
}

#bio{
  height: 100em;
  position: relative;
  overflow: hidden;
  top:0;
}

#bioBackground{
  width: 100%;
  height: 100em;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  padding-right: 18%;
  padding-left: 1%;
}

.bioText{
  font-family: 'Proxima Nova', serif;
  font-size: 1.5em;
  font-weight: 400;
  width: 49%;
  text-align: center;
  margin-left: 23.25%;
  margin-top: 1%;
  background: rgba(0,0,0, 0.05);
  border-radius: 50%;
  padding: 2.85em;
}

#bioPic{
  height: 20em;
  width: 20em;
  margin-left: 37.5%;
  margin-top: .5%;
  border-radius: 50%;
}

.icons{
  float: left;
  height: 25%;
  width: 4%;
  margin-right: 4%;
  margin-left: 4%;
  z-index: 1000; 
  position:relative;
}

.picRow{
  top:0;
  margin-top: 0 auto;
  height: 16em;
  padding-top: 3em;
  position: relative;
  z-index: 2;
}

#webbAppHeader{
  font-family: 'Monaco', sans-serif;
  font-weight: 600;
  color: white;
  background-color: rgb(0,0,0);
  margin:0;
}

#reachOut{
  font-family: 'Monaco', sans-serif;
  font-weight: 600;
  color: white;
}
.contact{
  clear:both;
  bottom: 0;
  height: 10em;
  width: 100%;
  background-color: rgb(0,0,0);
}
.contactIcons{
  margin-left: 20%;
}

.pipe{
  color: white;
  font-size: 20px;
}

.animate-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
      -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
      -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;

  height: 50%;
  width:50%;
  border-radius: 50%;    
  line-height: 20px;
  opacity: 1;
  left:0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 1;
  padding: 0 10px;
  left: -100%
}

.projectPic{
    display: inline;
    width: 95%;
    height: auto;
    margin: 10px;
}

#portfolio{
  width: 100%;
  height: auto;
  padding-bottom: 5em;
  float: left;
}

.portfolioHeader{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.demoHeader{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: #3C5278;
  border: solid #000000;
  border-radius: 5px;
  width: 50%;
  margin-left: 25%; 
}

.portfolioDescription{
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  padding: 1em;
}

.reponsibilitiesHeader{
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 1em;
  width: 100%;
  text-align: center;
  padding-left: 1em;
}

.responsebilties{
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  display: block;
}

.techBox{
  font-family: 'Source Serif Pro', serif;
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  padding: 1em;
}

.details{
  display: block;
}

.project{
  float: left;
  display: inline;
  width: 45%;
  height: 115%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  border: solid #000000 2px;
  border-radius: 5px;
}